<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<dict>
		<key>r</key>
		<real>-19.53125</real>
	</dict>
	<key>D</key>
	<dict>
		<key>o</key>
		<real>-29.296880722045898</real>
		<key>u</key>
		<real>-30.273439407348633</real>
	</dict>
	<key>E</key>
	<dict>
		<key>t</key>
		<real>-19.53125</real>
	</dict>
	<key>I</key>
	<dict>
		<key>n</key>
		<real>-19.53125</real>
	</dict>
	<key>P</key>
	<dict>
		<key>a</key>
		<real>-64.453117370605469</real>
		<key>c</key>
		<real>-58.59375</real>
		<key>d</key>
		<real>-79.1015625</real>
		<key>e</key>
		<real>-46.875</real>
		<key>f</key>
		<real>-29.296880722045898</real>
		<key>g</key>
		<real>-48.828121185302734</real>
		<key>h</key>
		<real>-19.53125</real>
		<key>i</key>
		<real>-9.765620231628418</real>
		<key>j</key>
		<real>-48.828121185302734</real>
		<key>k</key>
		<real>-5.859379768371582</real>
		<key>l</key>
		<real>-19.53125</real>
		<key>m</key>
		<real>-56.640621185302734</real>
		<key>n</key>
		<real>-59.570308685302734</real>
		<key>o</key>
		<real>-68.359382629394531</real>
		<key>p</key>
		<real>-68.359382629394531</real>
		<key>q</key>
		<real>-68.359382629394531</real>
		<key>r</key>
		<real>-39.0625</real>
		<key>s</key>
		<real>-78.125</real>
		<key>t</key>
		<real>-68.359382629394531</real>
		<key>u</key>
		<real>-68.359382629394531</real>
		<key>v</key>
		<real>-37.109378814697266</real>
		<key>w</key>
		<real>-78.125</real>
		<key>x</key>
		<real>-47.851558685302734</real>
		<key>y</key>
		<real>-43.945308685302734</real>
		<key>z</key>
		<real>-19.53125</real>
	</dict>
	<key>Q</key>
	<dict>
		<key>E</key>
		<real>-19.53125</real>
		<key>W</key>
		<real>-31.25</real>
		<key>a</key>
		<real>-39.0625</real>
		<key>c</key>
		<real>-21.484380722045898</real>
		<key>d</key>
		<real>-31.25</real>
		<key>e</key>
		<real>-48.828121185302734</real>
		<key>f</key>
		<real>-68.359382629394531</real>
		<key>g</key>
		<real>-58.59375</real>
		<key>i</key>
		<real>-19.53125</real>
		<key>j</key>
		<real>-39.0625</real>
		<key>k</key>
		<real>-29.296880722045898</real>
		<key>n</key>
		<real>-58.59375</real>
		<key>o</key>
		<real>-58.59375</real>
		<key>p</key>
		<real>-39.0625</real>
		<key>q</key>
		<real>-58.59375</real>
		<key>r</key>
		<real>-48.828121185302734</real>
		<key>s</key>
		<real>-48.828121185302734</real>
		<key>t</key>
		<real>-117.1875</real>
		<key>u</key>
		<real>-68.359382629394531</real>
		<key>v</key>
		<real>-39.0625</real>
		<key>w</key>
		<real>-39.0625</real>
		<key>x</key>
		<real>-29.296880722045898</real>
		<key>y</key>
		<real>-58.59375</real>
	</dict>
	<key>T</key>
	<dict>
		<key>e</key>
		<real>-92.7734375</real>
		<key>i</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-117.1875</real>
		<key>u</key>
		<real>-103.51561737060547</real>
	</dict>
	<key>U</key>
	<dict>
		<key>t</key>
		<real>-16.601560592651367</real>
	</dict>
	<key>V</key>
	<dict>
		<key>d</key>
		<real>-25.390619277954102</real>
		<key>e</key>
		<real>-32.226558685302734</real>
		<key>g</key>
		<real>-29.296880722045898</real>
		<key>j</key>
		<real>-9.765620231628418</real>
		<key>m</key>
		<real>-29.296880722045898</real>
		<key>n</key>
		<real>-25.390619277954102</real>
		<key>o</key>
		<real>-37.109378814697266</real>
		<key>p</key>
		<real>-39.0625</real>
		<key>q</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-39.0625</real>
		<key>t</key>
		<real>-39.0625</real>
		<key>u</key>
		<real>-39.0625</real>
		<key>w</key>
		<real>-39.0625</real>
		<key>y</key>
		<real>-29.296880722045898</real>
	</dict>
	<key>a</key>
	<dict>
		<key>c</key>
		<real>-19.53125</real>
		<key>d</key>
		<real>-19.53125</real>
		<key>h</key>
		<real>9.765620231628418</real>
		<key>m</key>
		<real>-17.578119277954102</real>
		<key>n</key>
		<real>-19.53125</real>
		<key>p</key>
		<real>-36.132808685302734</real>
		<key>r</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-19.53125</real>
		<key>t</key>
		<real>-48.828121185302734</real>
		<key>u</key>
		<real>-19.53125</real>
		<key>v</key>
		<real>-19.53125</real>
	</dict>
	<key>a_verticallineabovecomb</key>
	<dict>
		<key>p</key>
		<real>-19.53125</real>
	</dict>
	<key>b</key>
	<dict>
		<key>l</key>
		<real>-15.625</real>
		<key>u</key>
		<real>-17.578119277954102</real>
	</dict>
	<key>c</key>
	<dict>
		<key>i</key>
		<real>9.765620231628418</real>
		<key>t</key>
		<real>-57.617191314697266</real>
	</dict>
	<key>d</key>
	<dict>
		<key>a</key>
		<real>-55.664058685302734</real>
		<key>c</key>
		<real>-47.851558685302734</real>
		<key>d</key>
		<real>-58.59375</real>
		<key>e</key>
		<real>-48.828121185302734</real>
		<key>f</key>
		<real>-26.367189407348633</real>
		<key>g</key>
		<real>-48.828121185302734</real>
		<key>h</key>
		<real>-15.625</real>
		<key>i</key>
		<real>-3.90625</real>
		<key>j</key>
		<real>-19.53125</real>
		<key>m</key>
		<real>-51.757808685302734</real>
		<key>n</key>
		<real>-39.0625</real>
		<key>o</key>
		<real>-58.59375</real>
		<key>p</key>
		<real>-75.1953125</real>
		<key>q</key>
		<real>-40.039058685302734</real>
		<key>r</key>
		<real>-70.3125</real>
		<key>s</key>
		<real>-57.617191314697266</real>
		<key>t</key>
		<real>-58.59375</real>
		<key>u</key>
		<real>-58.59375</real>
		<key>v</key>
		<real>-39.0625</real>
		<key>w</key>
		<real>-68.359382629394531</real>
		<key>x</key>
		<real>-39.0625</real>
		<key>y</key>
		<real>-58.59375</real>
		<key>z</key>
		<real>-29.296880722045898</real>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<real>-10.742190361022949</real>
		<key>f</key>
		<real>-19.53125</real>
		<key>g</key>
		<real>-39.0625</real>
		<key>l</key>
		<real>-14.648440361022949</real>
		<key>n</key>
		<real>-0.97655999660491943</real>
		<key>q</key>
		<real>-19.53125</real>
		<key>r</key>
		<real>-19.53125</real>
		<key>s</key>
		<real>-30.273439407348633</real>
		<key>t</key>
		<real>-25.390619277954102</real>
		<key>u</key>
		<real>-20.507810592651367</real>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<real>-48.828121185302734</real>
		<key>e</key>
		<real>-29.296880722045898</real>
		<key>f</key>
		<real>-68.359382629394531</real>
		<key>g</key>
		<real>-29.296880722045898</real>
		<key>m</key>
		<real>-19.53125</real>
		<key>n</key>
		<real>-19.53125</real>
		<key>o</key>
		<real>-39.0625</real>
		<key>p</key>
		<real>-41.015621185302734</real>
		<key>q</key>
		<real>-19.53125</real>
		<key>s</key>
		<real>-58.59375</real>
		<key>t</key>
		<real>-48.828121185302734</real>
		<key>u</key>
		<real>-39.0625</real>
		<key>v</key>
		<real>-10.742190361022949</real>
		<key>w</key>
		<real>-48.828121185302734</real>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<real>-9.765620231628418</real>
		<key>h</key>
		<real>39.0625</real>
		<key>i</key>
		<real>29.296880722045898</real>
		<key>q</key>
		<real>18.554689407348633</real>
	</dict>
	<key>h</key>
	<dict>
		<key>a</key>
		<real>13.671879768371582</real>
		<key>i</key>
		<real>19.53125</real>
		<key>icircumflex</key>
		<real>19.53125</real>
	</dict>
	<key>i</key>
	<dict>
		<key>a</key>
		<real>-39.0625</real>
		<key>a_verticallineabovecomb</key>
		<real>-29.296880722045898</real>
		<key>c</key>
		<real>-39.0625</real>
		<key>d</key>
		<real>-44.921878814697266</real>
		<key>f</key>
		<real>-47.851558685302734</real>
		<key>g</key>
		<real>-48.828121185302734</real>
		<key>j</key>
		<real>-58.59375</real>
		<key>m</key>
		<real>-19.53125</real>
		<key>n</key>
		<real>-36.132808685302734</real>
		<key>p</key>
		<real>-50.78125</real>
		<key>q</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-47.851558685302734</real>
		<key>t</key>
		<real>-39.0625</real>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>n</key>
		<real>-9.765620231628418</real>
	</dict>
	<key>j</key>
	<dict>
		<key>g</key>
		<real>-9.765620231628418</real>
		<key>u</key>
		<real>-26.367189407348633</real>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<real>-14.648440361022949</real>
		<key>f</key>
		<real>-48.828121185302734</real>
		<key>g</key>
		<real>-58.59375</real>
	</dict>
	<key>l</key>
	<dict>
		<key>e</key>
		<real>-2.929689884185791</real>
		<key>i</key>
		<real>18.554689407348633</real>
		<key>o</key>
		<real>-13.671879768371582</real>
		<key>p</key>
		<real>-30.273439407348633</real>
	</dict>
	<key>m</key>
	<dict>
		<key>c</key>
		<real>9.765620231628418</real>
		<key>g</key>
		<real>-21.484380722045898</real>
		<key>n</key>
		<integer>0</integer>
		<key>p</key>
		<real>-39.0625</real>
	</dict>
	<key>n</key>
	<dict>
		<key>g</key>
		<real>-17.578119277954102</real>
		<key>n</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-15.625</real>
		<key>v</key>
		<real>6.835939884185791</real>
	</dict>
	<key>o</key>
	<dict>
		<key>d</key>
		<real>-6.835939884185791</real>
		<key>g</key>
		<real>-19.53125</real>
		<key>l</key>
		<real>-24.414060592651367</real>
		<key>n</key>
		<real>-26.367189407348633</real>
		<key>p</key>
		<real>-48.828121185302734</real>
		<key>r</key>
		<real>-22.460939407348633</real>
		<key>s</key>
		<real>-48.828121185302734</real>
		<key>w</key>
		<real>-29.296880722045898</real>
	</dict>
	<key>ograve</key>
	<dict>
		<key>n</key>
		<real>-24.414060592651367</real>
	</dict>
	<key>p</key>
	<dict>
		<key>e</key>
		<real>-7.8125</real>
		<key>g</key>
		<real>-9.765620231628418</real>
		<key>l</key>
		<real>-9.765620231628418</real>
		<key>o</key>
		<real>-19.53125</real>
		<key>r</key>
		<real>-18.554689407348633</real>
		<key>s</key>
		<real>-30.273439407348633</real>
	</dict>
	<key>q</key>
	<dict>
		<key>e</key>
		<real>-68.359382629394531</real>
		<key>f</key>
		<real>-97.65625</real>
		<key>q</key>
		<real>-68.359382629394531</real>
		<key>r</key>
		<real>-40.039058685302734</real>
		<key>t</key>
		<real>-68.359382629394531</real>
		<key>u</key>
		<real>-78.125</real>
		<key>w</key>
		<real>-9.765620231628418</real>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<real>-45.898441314697266</real>
		<key>b</key>
		<real>-13.671879768371582</real>
		<key>c</key>
		<real>-27.34375</real>
		<key>d</key>
		<real>-67.3828125</real>
		<key>e</key>
		<real>-26.367189407348633</real>
		<key>g</key>
		<real>-39.0625</real>
		<key>i</key>
		<real>-9.765620231628418</real>
		<key>m</key>
		<real>-33.203121185302734</real>
		<key>n</key>
		<real>-41.015621185302734</real>
		<key>o</key>
		<real>-39.0625</real>
		<key>p</key>
		<real>-58.59375</real>
		<key>s</key>
		<real>-49.804691314697266</real>
		<key>t</key>
		<real>-46.875</real>
		<key>u</key>
		<real>-39.0625</real>
	</dict>
	<key>s</key>
	<dict>
		<key>a</key>
		<real>-18.554689407348633</real>
		<key>e</key>
		<real>-10.742190361022949</real>
		<key>g</key>
		<real>-19.53125</real>
		<key>o</key>
		<real>-3.90625</real>
		<key>p</key>
		<real>-48.828121185302734</real>
		<key>q</key>
		<real>-19.53125</real>
		<key>s</key>
		<real>-48.828121185302734</real>
		<key>t</key>
		<real>-39.0625</real>
		<key>u</key>
		<real>-26.367189407348633</real>
	</dict>
	<key>t</key>
	<dict>
		<key>e</key>
		<real>3.90625</real>
		<key>p</key>
		<real>-29.296880722045898</real>
		<key>s</key>
		<real>-19.53125</real>
		<key>u</key>
		<real>-22.460939407348633</real>
	</dict>
	<key>u</key>
	<dict>
		<key>a</key>
		<real>-29.296880722045898</real>
		<key>c</key>
		<real>-19.53125</real>
		<key>e</key>
		<real>-21.484380722045898</real>
		<key>g</key>
		<real>-29.296880722045898</real>
		<key>m</key>
		<real>-19.53125</real>
		<key>n</key>
		<real>-24.414060592651367</real>
		<key>r</key>
		<real>-27.34375</real>
		<key>s</key>
		<real>-28.320310592651367</real>
		<key>t</key>
		<real>-29.296880722045898</real>
	</dict>
	<key>uni7063</key>
	<dict>
		<key>uni85DD</key>
		<integer>0</integer>
	</dict>
	<key>uni81FA</key>
	<dict>
		<key>uni7063</key>
		<real>-53.710941314697266</real>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<real>-21.484380722045898</real>
		<key>g</key>
		<real>-26.367189407348633</real>
		<key>o</key>
		<real>-14.648440361022949</real>
		<key>s</key>
		<real>-31.25</real>
		<key>w</key>
		<real>-19.53125</real>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<real>-29.296880722045898</real>
		<key>e</key>
		<real>-39.0625</real>
		<key>g</key>
		<real>-43.945308685302734</real>
	</dict>
	<key>x</key>
	<dict>
		<key>g</key>
		<real>-29.296880722045898</real>
		<key>y</key>
		<real>-39.0625</real>
	</dict>
	<key>z</key>
	<dict>
		<key>g</key>
		<real>-16.601560592651367</real>
		<key>i</key>
		<real>3.90625</real>
	</dict>
</dict>
</plist>
